.popup {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    max-height: 35px;
}

.contact-item:hover .popup {
    display: block;
}

.contact-item {
    position: relative;
}
.textHome {
    position: fixed;
    top: 0;
    padding: 15px 0;
    text-align: center;
}
@media (max-width: 576px) {
    .containerS {
        width: 100% !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0 !important;
        padding-bottom: 10px !important;
        margin: 0 !important;
    }

    .panelSearch {
        padding: 15px 10px !important;
        margin: 0 !important;
        width: 100% !important;
        box-sizing: border-box;
    }

    .panelSearch .form-control {
        width: 100% !important;
        max-width: none !important;
        margin-right: 5px;
    }

    .panelSearch .btn {
        width: auto !important;
        flex-shrink: 0;
    }
    .categories .col-6 {
        display: flex;
        justify-content: center;
    }
    .textHome h1 {
        font-size: 25px !important;
        text-align: center;
    }

    .category-btn {
        height: 50px;
        font-size: 14px;
        padding: 8px 10px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}



